asgiref==3.3.1
Django==3.1.4
django-grpc==1.0.8
django-grpc-framework==0.3.0
djangogrpcframework==0.2
djangorestframework==3.12.2
grpcio==1.27.1
grpcio-tools==1.27.1
protobuf==3.14.0
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
